<form action="/members" method="post">
  <br>
  <label for="first-name">First Name:</label>
    <input type="text" name="first_name" id="first-name">
    <br>
    <br>
  <label for="last-name">Last Name:</label>
    <input type="text" name="last_name" id="last-name">
    <br>
    <br>
  <label for="age">Age:</label>
    <input type="text" name="age" id="age">
    <br>
    <br>
  <label for="membership_type">Membership Type:</label>
    <select name="membership_type" id="membership_type">
      <option value="Premium">Premium</option>
      <option value="Off_Peak">Off-Peak</option>
    </select>
    <br>
    <br>
    <input type="submit" value="Create New Member">
    <br>
    <br>

    <a href="/">Home</a>

</form>

<p><a href="/members">Back to Members List</a></p>
