<h1>Welcome to your Class Booking system</h1>

<nav>
  <ul>
    <li>
      <a href="/members">Members</a>
    </li>
    <li>
      <a href="/members/new">Add a New Member</a>
    </li>
    <li>
      <a href="/classes">Classes</a>
    </li>
    <li>
      <a href="/classes/new">Add a New Class</a>
    </li>
    <li>
      <a href="/bookings">Bookings</a>
    </li>
    <li>
      <a href="/bookings/new">Create A New Booking</a>
    </li>
  </ul>
</nav>
