<h1>Welcome to your Class Booking system</h1>

<nav>
  <ul>
    <li>
      <button type="button"><a href="/members">Members</a></button>
    </li>
    <li>
      <button type="button"><a href="/classes">Classes</a></button>
    </li>
    <li>
      <button type="button"><a href="/bookings">Bookings</a></button>
    </li>
    <li>
      <button type="button"><a href="/members/new">Add a New Member</a></button>
    </li>
    <li>
      <button type="button"><a href="/classes/new">Add a New Class</a></button>
    </li>
    <li>
      <button type="button"><a href="/classes/list">List Upcoming Classes</a></button>
    </li>
  </ul>
</nav>
