

h1 {
  color: black;
}

table {
  text-align: center;
  padding: 50px 20px;
}

tr {

}

td {

}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
}

form {

}

button {
  font-size: 30px;
}

li {
  font-size: 20px;
  padding-top: 50px;
  padding-right: 50px;
}

th {
  /* padding: 20px; */
}

.home {
  padding-left: 50px;
}

.classes {
  background-color: red;
}

.week {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px;
}

.timetable {
  table-layout: auto;
  width: 120px;
  border: 1px solid black;
}

.member_table {
  table-layout: auto;
  width: auto;
  border: 2px solid black;
}

.member_table td {
  border: 1px solid black;
}

.booking_table {
  border: 2px solid black;
}

.booking_table td {
  border: 1px solid black;
}

.new_member {
  table-layout: auto;
  width: auto;
  border: 2px solid black;
}

.new_class {
  border: 2px solid black;
}

.list_class {
  border: 2px solid black;
}

.list_class td {
  border: 1px solid black;
}

.new_member tr {
  display: flex;
}

.new_class td {
  font-size: 20px;
}

.new_member_button {
  font-size: 20px;
}

.new_class_button {
  font-size: 20px;
}

.week {
  border: 5px solid black;
  width: 800px;
}

.monday, .tuesday, .wednesday, .thursday, .friday, .saturday, .sunday, .empty{
  border: 1px solid black;
}
