<h1>Booking Details</h1>

<% @bookings.each do |booking| %>

    <p>Booking: <a href="/bookings/<%= booking.id %>"><%= booking.get_member_details[0].first_name %></a> - <%= booking.get_class_details[0].name %></p>

<% end %>

<p><a href="/">Home</a></p>
<p><a href="/bookings/new">Create New Booking</a></p>
