<h1>New Booking</h1>

<form action="/bookings" method="post">
  <label>Select a Member:
    <select name="member_id">
      <% for member in @members %>
        <option value="<%= member.id %>"><%= member.first_name %></option>
      <% end %>
    </select>
  </label>
  <label for="name">Select a Class:
    <select name="class_id">
      <% for classe in @classes %>
        <option value="<%= classe.id %>"><%= classe.name %></option>
      <% end %>
    </select>

  </label>


  <input type="submit" value="Create Booking">

</form>


<a href="/">Home</a>
