<h1>Create A New Class</h1>

<form action="/classes" method="post">
  <table class="new_class">

  <tr>
  <td><label for="name">Name:</label></td>
  <td><input type="text" name="name" ID="name"></td>
  </tr>
  <tr>
  <td><label for="type">Type:</label></td>
  <td><input type="text" name="type" id="type"></td>
  </tr>
  <tr>
  <td><label for="capacity">Capacity:</label></td>
  <td><input type="text" name="capacity" id="capacity"></td>
  </tr>
  <tr>
  <td><label for="time">Time:</label></td>
  <td><input type="time" name="time" id="time"></td>
  </tr>
  <tr>
  <td><label for="date">Date:</label></td>
  <td><input type="date" name="date" id="date"></td>
  </tr>
  </table>

  <input class="new_class_button" type="submit" value="Create New Class">

</form>

<p><a href="/">Home</a></p>
<p><a href="/classes">Class List</a></p>
