<h1>Create A New Class</h1>

<form action="/classes" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" ID="name">
  <br>
  <label for="type">Type:</label>
  <input type="text" name="type" id="type">
  <br>
  <label for="capacity">Capacity:</label>
  <input type="text" name="capacity" id="capacity">
  <br>
  <label for="time">Time:</label>
  <input type="time" name="time" id="time">
  <br>
  <label for="date">Date:</label>
  <input type="date" name="date" id="date">
  <br>

  <input type="submit" value="Create New Class">

</form>

<p><a href="/">Home</a></p>
<p><a href="/classes/index">Class List</a></p>
