<h1 style="text-align: center;">Create A New Class</h1>


<div class="new_class_page">

<form action="/classes" method="post">
  <table class="new_class">

  <tr>
  <td><label for="name">Name:</label></td>
  <td><input type="text" name="name" ID="name" required></td>
  </tr>
  <tr>
  <td><label for="type">Type:</label></td>
  <td><input type="text" name="type" id="type" required></td>
  </tr>
  <tr>
  <td><label for="capacity">Capacity:</label></td>
  <td><input type="number" name="capacity" id="capacity" required></td>
  </tr>
  <tr>
  <td><label for="time">Time:</label></td>
  <td><input type="time" name="time" id="time" required></td>
  </tr>
  <tr>
  <td><label for="date">Date:</label></td>
  <td><input type="date" name="date" id="date" required></td>
  </tr>
  </table>
  <br>
  <input class="new_class_button" type="submit" value="Create New Class">

</form>

<p><a href="/classes">Class List</a></p>
<p><a href="/">Home</a></p>


</div>
